/*  
Styles for:-- [Insure Landing Page - Mobile First Design]
Author: Chisom Okoye
Date: 03/04/2025
Version: v1.0
*/

/* Reset & Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Variables */
:root {
    /* Color Palette */
    --primary-color: hsl(256, 26%, 20%); /* Dark Violet */
    --secondary-color: hsl(216, 30%, 68%); /* Grayish Blue */
    --accent-color: hsl(273, 4%, 51%); /* Dark Greyish Violet */
    --background-color: hsl(0, 0%, 98%); /* Very Light Gray */
    --footer-bg-color: hsl(0, 0%, 89%);
    --footer-accent-color: hsl(0, 0%, 59%);
    --title-bar-color: hsl(296, 30%, 85%);
    --text-color: hsl(270, 9%, 17%); /* Very Dark Violet */
    --light-text-color: #666;
    --white: #fff;
    --black: #000;
    --border-color: #dee2e6;
  
    /* Typography */
    --base-font-family: system-ui, -apple-system, "Karla", sans-serif;
    --heading-font-family: "DM Serif Display", serif;
    --base-font-size: 16px;
    --base-line-height: 1.5;
  
    /* Spacing */
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
  
    /* Border Radius */
    --border-radius: 0.25rem;
  
    /* Breakpoints */
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
  }

/* Global Styles */
body {
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    color: var(--text-color);
    background-color: var(--background-color);
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.2;
}
  
/* Remove list styles on ul, ol elements which suggests default styling will be removed. */
ul,
ol {
  list-style: none;
}
  
a {
  text-decoration: none;
  color: inherit;
}                   

/* Utility Styles  */
.container {
  width: 88%; /* Adjust as needed */
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer-vertical {
  padding: var(--space-md) 0;
}

.spacer-horizontal {
  padding: 0 var(--space-sm);
}

.btn {
  border: 1.5px solid var(--text-color);
  padding: var(--space-sm) var(--space-md);
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.btn-dark {
  background-color: var(--primary-color);
  color: var(--white);
  border: 2px solid var(--white);
  margin-top: 1rem;
  padding: 1rem 1.5rem;

}

/* Header Styles  */
.hero-image {
  width: 100%;
  
}

.header-hero {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem 3rem;  
}

.header-hero h1,
.header-hero p {
  color: var(--white);
}

.page-title {
  font-size: 3rem;
  padding-bottom: var(--space-sm);
}

.hero-description {
  padding-bottom: var(--space-md);
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-sm) 0;
  height: 80px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

nav a {
  height: 100%;
  text-transform: uppercase;
  padding: 0 var(--space-sm);
  margin: 0 var(--space-sm);
  display: flex;
  align-items: center;
  letter-spacing: 1.5px;
}

.topnav .icon {
  float: right;
  display: block;
 }

 .menu .hideOnMobile {
  display: none;
 }

 .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--text-color);
}

.sidebar li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 0;
}

.sidebar a {
  font-family: var(--base-font-family);
  color: var(--white); 
  font-size: large;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.sidebar .mobile-menu-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  margin-bottom: 3rem;
  padding: 1.2rem;
}

.mobile-menu-btn {
  border: 2px solid var(--white);
  padding: var(--space-md) 100px;  
}

.mobile-nav-pattern {
  width: 100%;
  position: absolute;
  bottom: 0px;
}


/* Styles for Main Content */
main {
  text-align: center;
  padding: 5rem 3rem;

}

.section-title {
  font-size: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.section-title::before {
  content: " ";
  height: 2px;
  width: 100px;
  position: absolute;
  background: var(--title-bar-color);
  top:-35%;
  left:35%;
}

.features {
  margin-bottom: 5rem;
}

.feature-item {
  padding: 1rem;
}

.feature-icon {
  padding: 1rem 0;
}

.feature-title {
  font-size: 1.3rem;
}

.callToAction {
  background-color: var(--primary-color);
  padding: 4rem;
}

.callToAction h2 {
  color: var(--white);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  
}


/* Footer Styles */
.footer-wrapper {
  background-color: var(--footer-bg-color);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-wrapper h4 {
  font-family: var(--base-font-family);
  font-weight: bold;
  color: var(--footer-accent-color);
  letter-spacing: 2px;
}

.footer-menu {
  padding-top: 15px;
}

.footer-menu-item {
  font-weight: 600;
  color: var(--text-color);
  letter-spacing: 2px;
  padding: 4px 0;  
}

.footer-top {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--footer-accent-color);
}

.footer-bottom {
  text-align: center;
  text-transform: uppercase;
}

ul.footer-socials {
  display: flex;
}

/* Responsive Styles */
/* For medium screens - Tablets - For screens from 600px and bigger */
@media only screen and (min-width: 768px) {
  .topnav .icon {
    display: none;
  }

  .menu .hideOnMobile {
    display: flex;
   }

   .footer-top {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-bottom {
    width: 80%;
  }

  .footer-menus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }

  .features-section {
    text-align: left;
  }

  .features {
    display: flex;
  }

  .section-title::before {
    content: " ";
    height: 2px;
    width: 100px;
    position: absolute;
    background: var(--title-bar-color);
    top: -35%;
    left: 0;
  }

  .callToAction {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cta-title {
    width: 40%;
    text-align: left;
  }

}

/* For large screens - Desktops - For screens 1200px and bigger */
@media only screen and (min-width: 1200px) {
  
}


